*{
    margin: 0;
    padding: 0;
}

nav{
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    font-family: 'DynaPuff', cursive;
    font-family: 'Francois One', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.navbarList li{
    list-style-type: none;
    display: inline;
}

.navbarList li a{
    margin: 0 0.9rem;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.navbarList li .getNowBtn{
    background-color: rgb(92, 168, 194);
    color: white;
    padding: 8px 16px;
    border-radius: 25px;
}